$body-font-family: 'Roboto', serif;

$rounded: (
  'xl': 16px,
);

$app-bar-scrolled-title-padding-bottom: 0px;
$app-bar-scrolled-title-padding-top: 10px;

$text-field-outlined-fieldset-border-width: 0.5px;
$text-field-outlined-fieldset-border: 1px solid;
